<!DOCTYPE html>
<html>
<head>
  <meta content=='text/html; charset=UTF-8' http-equiv="Content-Type" />
</head>
<body>
<h3>Request for Information</h3>
<h3><%= @customer.firstname %> <%= @customer.lastname %> email: <%= @customer.email %></h3>
<h3>from <%= @customer.institution %></h3>
<h3>is requesting information about UCSF Biorepository samples</h3>
<h3>proposed experiment description:</h3>
<p><%= @customer.studydescription %></p>
</body>
</html>