<div class="modal fade" id="formModal" tabindex="-1" role="dialog" aria-labelledby="formModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Request Information About UCSF Samples</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p style="font-size:10pt;">Please provide us with some basic information.</p>
        <%= form_for :sample_request, :url => {:controller => "home", :action =>"accept"}, :html => {:id => "requestForm"} do |f| %>
          <div class="form-group">
            <%= f.label :firstname, "First Name", :class => "col-sm-3 control-label" %>
            <%= f.text_field :firstname, :class => "col-sm-8", :required => true %>
          </div>
          <div class="form-group">
            <%= f.label :lastname, "Last Name", :class => "col-sm-3 control-label" %>
            <%= f.text_field :lastname, :class => "col-sm-8", :required => true %>
          </div>
          <div class="form-group">
            <%= f.label :email, "Email", :class => "col-sm-3 control-label" %>
            <%= f.email_field :email, :class => "col-sm-8", :required => true %>
          </div>
          <div class="form-group">
            <%= f.label :institution, "Institution", :class => "col-sm-3 control-label" %>
            <%= f.text_field :institution, :class => "col-sm-8", :required => true %>
          </div>
          <div class="form-group">
            <%= f.label :studyname, "Name of study", :class => "col-sm-4 control-label" %>
            <%= f.text_field :studyname, :class => "col-sm-7" %>
          </div>
          <div class="form-group">
            <%= f.label :studydescription, "Briefly describe your proposed experiment", :class => "col-sm-12 control-label" %>
            <%= f.text_area :studydescription, :class => "col-sm-12", :rows => "5", :required => true %>
          </div>
          <div class="form-group">
            <%= f.label :studygroup, "What MS Affected Individual phenotypes do you require?", :class => "col-sm-12 control-label" %>
            <%= f.text_area :studygroup, :class => "col-sm-12", :rows => "5", :required => true, :id => "formStudyGroup" %>
          </div>
          <div class="form-group">
            <%= f.label :studygroupunrelated, "What Unrelated Unaffected phenotypes do you require?", :class => "col-sm-12 control-label" %>
            <%= f.text_area :studygroupunrelated, :class => "col-sm-12", :rows => "5", :required => true, :id => "formStudyGroupUnaffected" %>
          </div>
          <div class="form-group">
            <%= f.label :sampletype, "Which sample types do you require (plasma, blood, DNA)?", :class => "col-sm-12 control-label" %>
            <%= f.text_field :sampletype, :class => "col-sm-12", :required => true %>
          </div>
          <div class="form-group">
            <%= f.label :comments, "Any other comments or details", :class => "col-sm-12 control-label" %>
            <%= f.text_area :comments, :class => "col-sm-12", :required => false, :rows => 5 %>
          </div>
        </div>
          <div class="modal-footer">
            <div class="form-group">
              <%= f.submit "Submit Request", :class => "btn btn-action", :id => "requestSubmit" %>
            </div>
        <% end %>
        </div>
    </div>
  </div>
</div>