<div class="container-fluid" id="indexContainer">
  <div class="row">
    <%= image_tag("UCSF_logobox_navy_RGB_sized.jpg", :id => "ucsfLogo") %>
    <div style="display:inline-block; height:100px;background-color:white;position:absolute;left:100px;z-index: 1">
      <h2 style="padding-top:60px;">&nbsp;&nbsp;The Multiple Sclerosis Genetics Project&nbsp;&nbsp;</h2>
      <% if current_page?(:controller => 'home', :action => 'biorepository') %>
        <%= image_tag('ms-society-logo.png', :style => "max-height:35px;position:absolute;left:660px;top:60px;") %>
        <h6 style="position:absolute;left:750px;width:575px;top:75px;">The MSDB is supported by the US National Multiple Sclerosis Society</h6>
      <% end %>
    </div>
  </div>
  <div class="row" id="navLinkRow">

    <div class="col-sm-2 offset-sm-1 text-center">
      <%= link_to "Home", root_path, :class => "indexSubjectLink" %>
    </div>

    <div class="col-sm-2 text-center">
       <%= link_to "About", about_path, :class => "indexSubjectLink" %>
    </div>

    <div class="col-sm-2 text-center">
      <%= link_to "Research", research_path, :class => "indexSubjectLink" %>
    </div>

    <div class="col-sm-2 text-center">
      <%= link_to "Publications", publication_path, :class => "indexSubjectLink" %>
    </div>

    <div class="col-sm-2 text-center">
      <%= link_to "Biorepository", biorepository_path, :class => "indexSubjectLink" %>
    </div>

<!--    <div class="col-sm-2 text-center">-->
<!--      <div class="dropdown">-->
<!--        <a class="indexSubjectLink dropdown-toggle" style="color:white;" id="dropdownMenu1" data-toggle="dropdown">Links</a>-->
<!--        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">-->
<!--          <li role="presentation"><%#= link_to "UCSF Department of Neurology", "http://neurology.ucsf.edu", target: :blank  %></li>-->
<!--        </ul>-->
<!--      </div>-->
<!--    </div>-->



  </div>
</div>