<div class="container content-container">
  <br>
  <div class="row">
    <div class="col-sm-12">
      <h1 class="text-center">UCSF MS Genetics Lab</h1>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-10 offset-sm-1">
        <h2 class="text-left about-group-header">Leadership</h2>
        <hr>
        <p>
          <h4>Jorge Oksenberg, PhD.</h4>
          <h6 style="margin-bottom:0;"><i>Professor in the Department of Neurology, UCSF</i></h6>
          <a href="mailto:jorge.oksenberg@ucsf.edu" style="display: block;">Email:Jorge.Oksenberg@ucsf.edu</a>
          <%= image_tag("jorge.jpg", :class => "thumbnail-portrait") %>
          Dr. Oksenberg is the G.A. Zimmermann Endowed Chair in Neurology. As a native from Argentina, Dr. Oksenberg received his Ph.D. in Immunology from the Hebrew University of Jerusalem, Israel, and joined the UCSF faculty in 1993 following post-doctoral training at Stanford University. Since 1979 his research has focused in the areas of human
          immunogenetics and the control of the immune response. He has authored numerous publication and scholarly reviews in the field and is a leading investigator in the International Multiple Sclerosis Genetics Consortium.
        </p>
        <h2 class="text-left about-group-header">Biorepository Team</h2>
        <hr>
        <p>
          <h4>Stacy Caillier</h4>
          <h6 style="margin-bottom:0;"><i>Lab Manager</i></h6>
          <a href="mailto:stacy.caillier@ucsf.edu" style="display:block;">Email:Stacy.Caillier@ucsf.edu</a>
          <%= image_tag("stacy.jpg", :class => "thumbnail-portrait") %>
          Stacy started working with the MS Genetics Research Group in July of 1998, after graduating from the University of California, Santa Cruz with a bachelor degree in Neuroscience and Behavior. In addition to heading up the DNA genotyping projects, she works in quantitative PCR, and SNP/expression
          chips. More recently, Stacy is leading the application of immunological assays to assess the functional role of genetic variants associated with MS susceptibility and progression.
        </p>
        <p>
          <h4>Rosa Guerrero</h4>
          <h6 style="margin-bottom:0;"><i>Bio-specimens</i></h6>
          <a href="mailto:rosa.guerrero@ucsf.edu" style="display:block;">Email:Rosa.Guerrero@ucsf.edu</a>
          <%= image_tag("rosa.jpg", :class => "thumbnail-portrait") %>
          Rosa started working with the group in July of 2004 after working at the UCSF DNA Bank. Rosa's primary responsibility is the isolation of high quality nucleic acids from blood samples received from across the United States and abroad for genetic studies in MS.
        </p>
      <br>
      <br>
      <p>
      <h4>Nicholas Lee</h4>
        <h6 style="margin-bottom:0;"><i>Bio-specimens</i></h6>
        <a href="mailto:nicholas.lee@ucsf.edu" style="display:block;">Email:Nicholas.Lee@ucsf.edu</a>
        <%= image_tag("nicholas-lee.JPG", :class => "thumbnail-portrait") %>
        Nicholas joined the group in July 2018 after graduating from University of California, San Diego with a Bachelor of Science degree in Biology. Nicholas processes blood samples, isolating plasma, serum, DNA, and lymphocytes for research studies.
      </p>
      <br>
      <br>
        <h2 class="text-left">Data Management</h2>
        <hr>
        <p>
          <h4>Adam Santaniello</h4>
          <h6 style="margin-bottom:0;"><i>Database Manager</i></h6>
          <a href="mailto:adam.santaniello@ucsf.edu" style="display:block;">Email:Adam.Santaniello@ucsf.edu</a>
          <%= image_tag("adams.jpg", :class => "thumbnail-portrait") %>
          Adam has a B.S. in Engineering Science with Tau Beta Pi honors from Tufts University in Medford, MA. His prior experience includes software development and project management for consulting and
          financial services firms. He joined our lab in November 2007 and is leading the integration and enhancement of the lab's data sources.
        </p>
        <br>
        <p>
          <h4>Adam Renschen</h4>
          <h6 style="margin-bottom:0;"><i>Data Systems Analyst</i></h6>
          <a href="mailto:adam.renschen@ucsf.edu" style="display:block;">Email:Adam.Renschen@ucsf.edu</a>
          <%= image_tag("adamr.jpg", :class => "thumbnail-portrait") %>
          Adam Renschen joined Dr. Oksenberg’s laboratory in October 2016 as a web developer and member of the data management team. He has designed, built, and deployed websites, databases, and API’s to securely
          make research data available to remote consumers. He assists with the management of the laboratory databases and provides
          general IT support.
        </p>

    </div>
  </div> <!-- close row -->




</div> <!-- close container -->