

<div class="container content-container">
  <br>
  <div class="row">
    <div class="col-sm-12">
      <h1 class="text-center">Patient Participation</h1>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-3">
      <div class="study-menu-div">
        <ul class="nav nav-tabs flex-column">
          <li class="nav-item nav-item-side-header side-nav" style="border:none;"><a href="#summary" class="tab-nav-link">Invitation to Participate</a></li>
          <li class="nav-item nav-item-side-header side-nav"><a class="tab-nav-link" data-toggle="tab" href="#enrollment-process">Enrollment Process</a></li>
          <li class="nav-item nav-item-side-header side-nav"><span class="tab-nav-link">Studies open for enrollment:</span></li>
          <li class="nav-item side-nav"><a class="tab-nav-link" data-toggle="tab" href="#case-control">- Case/Control Study</a></li>
          <li class="nav-item side-nav"><a class="tab-nav-link" data-toggle="tab" href="#multi-case">- Multi-Case Family Study</a></li>
          <li class="nav-item side-nav"><a class="tab-nav-link" data-toggle="tab" href="#quartet">- Quartet Study</a></li>
          <li class="nav-item side-nav"><a class="tab-nav-link" data-toggle="tab" href="#twins">- Twins Study</a></li>
          <li class="nav-item side-nav"><a class="tab-nav-link" data-toggle="tab" href="#arhms">- ARHMS (Alliance for Research in Hispanic Multiple Sclerosis)</a></li>
          <li class="nav-item side-nav"><a class="tab-nav-link" data-toggle="tab" href="#african-american">- African American Study</a></li>
          <li class="nav-item side-nav"><a class="tab-nav-link" data-toggle="tab" href="#pediatric">- Pediatric Study</a></li>
          <li class="nav-item side-nav"><a class="tab-nav-link" data-toggle="tab" href="#microbiome">- Microbiome Study</a></li>
        </ul>
      </div>
    </div>
    <div class="col-sm-9 tab-content">

      <div class="tab-pane active" id="summary">
        <h5>Multiple sclerosis is the most common cause of non-traumatic neurological disability in young adults, affecting approximately 2.3 million people worldwide and more than 400,000 individuals in the US.</h5>

        <hr>

        <p>In the last two decades multiple sclerosis related research has become one of the most productive areas of clinical neuroscience and has delivered remarkable progress on multiple fronts, including the identification of
           DNA variants determining inherited risk, the deconstruction of the immunology underlying focal inflammatory demyelination, the unprecedented resolution of central nervous system imaging, and most
          notably, the development of an extensive repertoire of therapeutic agents capable of suppressing the relapsing aspects of disease.</p>

        <p>Due primarily to highly coordinated international efforts, the genetic underpinnings responsible for multiple sclerosis susceptibility have now been substantially clarified. There are, however, significant questions
          that remain to be answered to maximize the value of genetic research, including the role of genetics in determining the clinical trajectory of the disease or the favorable response to treatment.</p>

        <p>To address these questions we build on recent extraordinary developments in understanding the human genome, but more important, we rely on the cooperation of thousands of altruistic individuals who donate
          their blood to these experiments. The demonstration of even a modest functional effect of a known gene or group of genes on the course of multiple sclerosis has great potential to elucidate fundamental disease mechanisms
          that drive neurodegeneration and yield novel prognostic and therapeutic opportunities for progressive multiple sclerosis, the major unmet need in the field.</p>
        <%= link_to "Click Here To Join The Study", "https://redcap.ucsf.edu/surveys/?s=849FYFLPA7", :class => "btn btn-action btn-block action-link", target: :blank %>
      </div>

      <div class="tab-pane" id="enrollment-process">
        <h3>Enrollment Process</h3>
        <hr>
        <p>
          Our research process begins with patients, families, and friends. If you, or a family member, have been diagnosed with multiple sclerosis, we invite you to join this study. Large numbers of participants and their families are needed to help achieve our ambitious goals.
        </p>
        <h4 class="text-center" style="text-decoration:underline;">Please help us achieve our common goal.</h4>
        <br>
        <h5 class="text-center">Participants will be asked to:</h5>
        <ul class="text-center" style="list-style:none;margin:0;padding:0;">
          <li>1. Read and sign a consent and authorization form</li>
          <li>2. Complete family history and clinical information forms</li>
          <li>3. Donate a blood sample (approximately five tablespoons)</li>
        </ul>
        <br>
        <h5 class="text-center">To participate or request additional information, please complete our <%= link_to "Intake Survey", "https://redcap.ucsf.edu/surveys/?s=849FYFLPA7", target: :_blank %> or contact us directly at:</h5>
        <p class="text-center">UCSF Clinical Coordinator<br>675 Nelson Rising Ln<br>San Francisco, CA 94158<br><b>or</b><br>1 (866) MS-GENES or 1 (866) 674-3637<br>Fax: 1 (415) 476-1256<br>Email: <a href="mailto:msdb@ucsf.edu">msdb@ucsf.edu</a></p>
        <h5 class="text-center">At all times, records and other information that is shared with investigators are handled in a confidential manner. There are no charges for participation in this study. De-identified data
          may be shared with qualified researchers to accelerate discovery.</h5>

      </div>

      <div class="tab-pane" id="case-control">
        <h3>Case/Control Study</h3>
        <hr>
        <p>
          It is important to study the genetic differences that exist between individuals with and without multiple sclerosis. In this study, we take advantage of the discovery of many hundreds of thousands of genetic markers scattered across the genome. The markers are
          of little or no functional consequence themselves, but do provide reliable and stable taggers to which we can return for additional analysis. If a gene of interest lies close to one of these signposts, we can compare that gene in patients and
          unaffected controls.
        </p>
        <br>
        <h4>Enrollment Criteria</h4>
        <p>
          Participation in this study will require a one-time donation of a blood sample from the individual with multiple sclerosis and, if available, a control. The control cannot be a family member but can be a spouse or friend. Preferably the control will be of the
          same ethnicity and approximately the same age as the individual with multiple sclerosis. <b>PLEASE NOTE: To be eligible, controls must not have multiple sclerosis or a family history of any autoimmune disease.</b> This is a nationwide study; participation does not require that
          you live near San Francisco, CA.
        </p>
        <h5>To participate or request additional information, please complete our brief <%= link_to "Intake Survey", "https://redcap.ucsf.edu/surveys/?s=849FYFLPA7", target: :_blank %> or contact us directly: 1-866-MS-Genes (1-866-674-3637)</h5>

      </div>

      <div class="tab-pane" id="multi-case">
        <h3>Multi-Case Family Study</h3>
        <hr>
        <p>This study is for families in which multiple, living family members have been diagnosed with multiple sclerosis. Studies show that the risk of developing multiple sclerosis is about 1 in 750 to 1 in 1000 in the population. The risk of a sibling of a person with multiple sclerosis
          is 20 to 40 fold higher.
          The study of families with multiple-affected individuals allows us to identify genes, or clusters of genes, that two or more affected siblings have inherited in common. Families with an affected parent and an affected child are of particular interest.</p>
        <br>
        <h4>Enrollment Criteria</h4>
        <p>We are asking for the donation of a blood sample from all affected siblings, unaffected siblings, and both parents. If not all of the individuals requested are able to participate, enrollment is still possible and will be discussed by phone.</p>
        <h5>To participate or request additional information, please complete our brief <%= link_to "Intake Survey", "https://redcap.ucsf.edu/surveys/?s=849FYFLPA7", target: :_blank %> or contact us directly: 1-866-MS-Genes (1-866-674-3637)</h5>
      </div>

      <div class="tab-pane" id="quartet">
        <h3>Quartet Study</h3>
        <hr>
        <p>
          This study focuses on families with one parent with multiple sclerosis, one parent without, and an affected child. Our goal is to identify and characterize heritability patterns of genetic variants linked to risk from the affected and unaffected
          parent to the affected child.
        </p>
        <br>
        <h4>Enrollment Criteria</h4>
        <p>We are asking for the donation of a blood sample from the affected and unaffected parents, affected and unaffected siblings. If not all of the individuals requested are able to participate, enrollment is still possible and will be discussed by phone.</p>
        <h5>To participate or request additional information, please complete our brief <%= link_to "Intake Survey", "https://redcap.ucsf.edu/surveys/?s=849FYFLPA7", target: :_blank %> or contact us directly: 1-866-MS-Genes (1-866-674-3637)</h5>
      </div>

      <div class="tab-pane" id="twins">
        <h3>Twins Study</h3>
        <hr>
        <p>
          Monozygotic (identical) twins share 100% of their genetic identity. That is, their genes are identical and in the exact same order/combination, yet they only have a 30% disease concordance. Twin studies provide
          important clues about the role of non-genomic and environmental factors involved in multiple sclerosis.
        </p>
        <br>
        <h4>Enrollment Criteria</h4>
        <p>For individuals who are monozygotic (identical) twins where at least one has multiple sclerosis, we are asking for blood donations from affected and unaffected twins as well as an unaffected sibling. If no unaffected sibling is
          available, an unaffected 1st cousin will be asked to participate instead.</p>
        <h5>To participate or request additional information, please complete our brief <%= link_to "Intake Survey", "https://redcap.ucsf.edu/surveys/?s=849FYFLPA7", target: :_blank %> or contact us directly: 1-866-MS-Genes (1-866-674-3637)</h5>
      </div>

      <div class="tab-pane" id="arhms">
        <h3>ARHMS - Alliance for Research in Hispanic Multiple Sclerosis Study</h3>
        <hr>
        <p>
          Despite multiple sclerosis now being increasingly diagnosed among the Hispanics and Latinos, few comprehensive studies exist. The ARHMS study is a newly formed consortium intended to bring scientists across multiple leading multiple sclerosis
          Centers with an interest in understanding the factors that drive multiple sclerosis risk and progression in the diverse US Hispanic population.
        </p>
        <br>
        <h4>Enrollment Criteria</h4>
        <p>For individuals who self-identify as Hispanic, we are asking for the donation of a blood sample from the individual with multiple sclerosis and unaffected controls.</p>
        <h5>To participate or request additional information, please complete our brief <%= link_to "Intake Survey", "https://redcap.ucsf.edu/surveys/?s=849FYFLPA7", target: :_blank %> or contact us directly: 1-866-MS-Genes (1-866-674-3637)</h5>
      </div>

      <div class="tab-pane" id="african-american">
        <h3>African American Study</h3>
        <hr>
        <p>
          Multiple sclerosis is a recognized disorder of African Americans. Knowledge of ancestry is important in research studying diseases that behave differently in different ethnic groups. In fact, the study of populations with unique clinical, demographic, and/or
          historic characteristics has been shown to be extraordinarily informative in deciphering the genetics of cancer and other complex diseases, including multiple sclerosis.
        </p>
        <br>
        <h4>Enrollment Criteria</h4>
        <p>For individuals who are African American, we are asking for the donation of a blood sample from the individual with multiple sclerosis and unaffected controls. It is not required, but the participation of certain family members is preferred as well.</p>
        <h5>To participate or request additional information, please complete our brief <%= link_to "Intake Survey", "https://redcap.ucsf.edu/surveys/?s=849FYFLPA7", target: :_blank %> or contact us directly: 1-866-MS-Genes (1-866-674-3637)</h5>
      </div>

      <div class="tab-pane" id="pediatric">
        <h3>Pediatric Study</h3>
        <hr>
        <p>
          Although the onset of multiple sclerosis usually occurs in young adulthood, approximately 5% of patients develop symptoms in childhood or adolescence. Currently, there is very limited literature concerning those who
          develop multiple sclerosis before 18 years of age. This means that the impact of the disease on neurologic function, cognition, academic achievement, and psychosocial adjustment in pediatric multiple sclerosis patients is relatively unknown. The primary
          goal of this investigation is to identify the underlying genetic causes of early onset multiple sclerosis. This study is in collaboration with the Multiple Sclerosis Pediatric Groups at UCSF and at the National Pediatric Center in Stony Brook, New York.
          Individuals interested in this study are referred to the UC San Francisco MS Pediatric Group.
        </p>
        <br>
        <h5>For more information on how to participate please visit the <%= link_to "Pediatric website", "https://www.ucsfbenioffchildrens.org/clinics/multiple_sclerosis/index.html", target: :_blank %></h5>
      </div>

      <div class="tab-pane" id="microbiome">
        <h3>Microbiome Study</h3>
        <hr>
        <p>
          The human body harbors more bacterial than human cells. Multiple families of these bacterial cells co-exist in a delicate equilibrium that is essential for maintaining a general state of well being. It has been recently
          shown that deviations from this equilibrium (caused by environmental effects, genetic causes or both) can result in disease. In this project we will study and compare the bacterial compositions present in the gut of multiple sclerosis
          patients at different stages of the disease and healthy individuals. These experiments will likely shed light on what are the beneficial and harmful microbial populations that associate with multiple sclerosis, and the possible mechanisms by
          which they can cause disease.
        </p>
        <br>
        <h5>For more information on how to participate please visit the <%= link_to "Microbiome website", "http://imsms.org/online-food-questionnaire-instructions/", target: :_blank %></h5>
      </div>
    </div>
  </div>
</div>

