<div class="container footer-container">
  <div class="row">
    <div class="col-sm-5 offset-sm-1">
      <ul class="footer-link-list">
        <li>
          <%= link_to "Multiple Sclerosis Genetics Research Laboratory", "http://msgenes.ucsf.edu/", :class=> 'footer-link', target: :blank %>
        </li>
        <li>
          <%= link_to "UCSF Department of Neurology", "http://neurology.ucsf.edu/", :class=> 'footer-link', target: :blank %>
        </li>
        <li>
          <%= link_to "Weill Institute for Neurosciences", "http://weill.ucsf.edu/", :class=> 'footer-link', target: :blank %>
        </li>
        <li>
          <%= link_to "UCSF Multiple Sclerosis Clinical Center", "http://multiplesclerosis.ucsf.edu/", :class=> 'footer-link', target: :blank %>
        </li>
        <li>
          <%= link_to "National Multiple Sclerosis Society", "http://www.nmss.org/", :class=> 'footer-link', target: :blank %>
        </li>
        <li>
          <%= link_to "INDIGO Project", "http://indigo.ucsf.edu/", :class=> 'footer-link', target: :blank %>
        </li>
      </ul>
    </div>
    <div class="col-sm-2 offset-sm-2">
      <%= image_tag('UCSF_sig_tag_white_RGB.png', :class => 'ucsf-logo') %>
    </div>
  </div>

</div>