<nav class="navbar navbar-expand-lg navbar-dark" style="background-color:darkblue;">
  <%= link_to "UCSF MS Genetics", root_path,  :class => "navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"  aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <%= link_to "Home", root_path, :class => "nav-item nav-link active" %>
      <%= link_to "Biorepository", biorepository_path, :class=> "nav-item nav-link active" %>
      <%= link_to "Publications", root_path, :class => "nav-item nav-link active" %>
      <%= link_to "Research", root_path, :class => "nav-item nav-link active" %>
      <span class="nav-item" style="color:black;padding-top:7px;margin-left:50px;background-color:white;border-radius:10px;font-family:Times, serif;  "><marquee id='biorepository' behavior="scroll" direction="left" scrollamount="5">The MSDB makes biological materials (DNA, serum, and plasma) available to qualified researchers
        studying Multiple Sclerosis (MS) or other diseases that will help researchers understand the underlying causes of MS. In keeping with the variety of family structures seen in the general population, ascertainment was not restricted
        to isolated cases, and when possible, collection was extended to family members.</marquee></span>
    </div>

  </div>
</nav>
<script>
  $(document).on('turbolinks:load', function(){
      var pathname = window.location.pathname;
      console.log(window.location.pathname);
      $('.navbar-nav > a[href="'+pathname+'"]').css("text-decoration","underline");
      pathname = pathname.split("/")[1];
      console.log("pathname", pathname)
      $('marquee').css("display", "none");
      $('marquee#'+pathname).css("display","inline-block");
  })
</script>