<div class="container"><%= image_tag('stock-vector-dna-helix-Recovered2.png', :class => 'header-logo') %></div>

<nav class="navbar navbar-expand-lg navbar-dark bg-blue container" style="border-bottom:1px solid #E6E6E6;">
  <%= link_to "Home", root_path, :class => "navbar-brand" %>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="navbar-item">
        <%= link_to "About The Project", about_path, :class => "nav-link active" %>
      </li>
      <li class="navbar-item">
        <%= link_to "Patient Participation", research_path, :class => "nav-link active" %>
      </li>
      <li class="navbar-item">
        <div class="dropdown show">
          <%= link_to "Biorepository", biorepository2_path, :class => "nav-link active dropdown-toggle", :"data-toggle" => "dropdown" %>
          <div class="dropdown-menu" style="min-width: 250px;">
            <%= link_to "About the Biorepository", biorepository2_path, :style => "display:block;padding-left:15px;" %>
            <%= link_to "Bio-Specimens Dashboard", dashboard_path, :style => "display:block;padding-left:15px;" %>
          </div>
        </div>
      </li>

    </ul>
  </div>

  </nav>
